@page "/"

<PageTitle>Home</PageTitle>

<h3>Jena White's FIO Weather App</h3>
<br />
<br />
<h5>Click on Weather in the left side menu to view the app!</h5>
<br />
<br />
🧰 Framework: .NET Blazor WebAssembly
<br />
<br />
🌐 API: Open-Meteo.com (for weather data)
<br />
<br />
📍 Search: Users can enter a U.S. city and state
<br />
<br />
📅 Forecast: Displays a 5-day weather forecast
<br />
<br />
🔁 Reset: Button to clear search and results
<br />
<br />
🎨 UI: Clean and simple user interface
<br />
<br />
💻 Platform: Free, browser-based web app
